In [1]:
#Emotion (01 = neutral, 02 = calm, 03 = happy, 04 = sad, 05 = angry, 06 = fearful, 07 = disgust, 08 = surprised).

In [4]:
import librosa
import librosa.display
import matplotlib.pyplot as plt
import numpy as np
from os import listdir
from os.path import isfile, join
import os
import scipy 
import pandas as pd
import shutil

In [30]:
def getEmotion(x):
    part = x.split('-')
    if part[2] == '01':
        return 'neutral'
    elif part[2] == '02':
        return 'calm'
    elif part[2] == '03':
        return 'happy'
    elif part[2] == '04':
        return 'sad'
    elif part[2] == '05':
        return 'angry'
    elif part[2] == '06':
        return 'fearful'
    elif part[2] == '07':
        return 'disgust'
    elif part[2] == '08':
        return 'surprised'
    else:
        return 'Unknown'

In [7]:
root = r"data/RAVEDESS/Audio_Speech_Actors_01-24"

In [9]:
folders = listdir(root)
len(folders)

24

In [15]:
file_names = []
lenghts = []
for folder in folders:
    curr_dir = join(root,folder)
    files = listdir(curr_dir)
    for file in files:
        file_names.append(file)
        lenghts.append(librosa.get_duration(filename= join(root,folder,file)))

In [20]:
df = pd.DataFrame(file_names,columns=['Filename'])
df.head()

                   Filename
0  03-01-01-01-01-01-01.wav
1  03-01-01-01-01-02-01.wav
2  03-01-01-01-02-01-01.wav
3  03-01-01-01-02-02-01.wav
4  03-01-02-01-01-01-01.wav

In [22]:
df['Length'] = lenghts
df.head()

                   Filename    Length
0  03-01-01-01-01-01-01.wav  3.303292
1  03-01-01-01-01-02-01.wav  3.336667
2  03-01-01-01-02-01-01.wav  3.269917
3  03-01-01-01-02-02-01.wav  3.169833
4  03-01-02-01-01-01-01.wav  3.536854

In [33]:
df['Emotion'] = df['Filename'].apply(getEmotion)

df.Emotion.value_counts()

fearful      192
angry        192
calm         192
surprised    192
sad          192
happy        192
disgust      192
neutral       96
Name: Emotion, dtype: int64

In [35]:
df.groupby(['Emotion']).mean()

             Length
Emotion
angry      3.871404
calm       3.795806
disgust    3.941785
fearful    3.574231
happy      3.638183
neutral    3.503153
sad        3.694490
surprised  3.487512

In [36]:
df.groupby(['Emotion']).min()

                           Filename    Length
Emotion
angry      03-01-05-01-01-01-01.wav  3.236562
calm       03-01-02-01-01-01-01.wav  2.936271
disgust    03-01-07-01-01-01-01.wav  3.136458
fearful    03-01-06-01-01-01-01.wav  3.069729
happy      03-01-03-01-01-01-01.wav  3.103104
neutral    03-01-01-01-01-01-01.wav  3.069729
sad        03-01-04-01-01-01-01.wav  3.103104
surprised  03-01-08-01-01-01-01.wav  2.969625

In [37]:
df.groupby(['Emotion']).max()

                           Filename    Length
Emotion
angry      03-01-05-02-02-02-24.wav  5.105104
calm       03-01-02-02-02-02-24.wav  4.771438
disgust    03-01-07-02-02-02-24.wav  5.271937
fearful    03-01-06-02-02-02-24.wav  5.005000
happy      03-01-03-02-02-02-24.wav  4.404396
neutral    03-01-01-01-02-02-24.wav  4.137458
sad        03-01-04-02-02-02-24.wav  4.738062
surprised  03-01-08-02-02-02-24.wav  4.637979