In [1]:
# There are a set of 200 target words were spoken in the carrier phrase "Say the word _' by two actresses (aged 26 and 64 years) and recordings were made of the set portraying each of seven emotions (anger, disgust, fear, happiness, pleasant surprise, sadness, and neutral). There are 2800 data points (audio files) in total.

# The dataset is organised such that each of the two female actor and their emotions are contain within its own folder. And within that, all 200 target words audio file can be found. The format of the audio file is a WAV format

In [2]:
import librosa
import librosa.display
import matplotlib.pyplot as plt
import numpy as np
from os import listdir
from os.path import isfile, join
import os
import scipy 
import pandas as pd
import shutil

In [3]:
def getEmotion(x):
    part = x.split('_')
    part[2] = part[2][:-4]
    if part[2] == 'angry':
        return 'angry'
    elif part[2] == 'disgust':
        return 'disgust'
    elif part[2] == 'fear':
        return 'fear'
    elif part[2] == 'happy':
        return 'happy'
    elif part[2] == 'neutral':
        return 'neutral'
    elif part[2] == 'ps':
        return 'pleasant_surprised'
    elif part[2] == 'sad':
        return 'sad'
    else:
        return 'Unknown'

In [4]:
root = r"data/TESS/speech_data"

In [5]:
folders = listdir(root)
len(folders)

14

In [6]:
file_names = []
lenghts = []
for folder in folders:
    curr_dir = join(root,folder)
    files = listdir(curr_dir)
    for file in files:
        file_names.append(file)
        lenghts.append(librosa.get_duration(filename= join(root,folder,file)))

In [7]:
df = pd.DataFrame(file_names,columns=['Filename'])
df.head()

             Filename
0  OAF_back_angry.wav
1   OAF_bar_angry.wav
2  OAF_base_angry.wav
3  OAF_bath_angry.wav
4  OAF_bean_angry.wav

In [8]:
df.shape

(2800, 1)

In [9]:
df['Length'] = lenghts
df.head()

             Filename    Length
0  OAF_back_angry.wav  1.539035
1   OAF_bar_angry.wav  1.616613
2  OAF_base_angry.wav  1.542025
3  OAF_bath_angry.wav  1.606865
4  OAF_bean_angry.wav  1.395183

In [10]:
df['Emotion'] = df['Filename'].apply(getEmotion)

df.Emotion.value_counts()

disgust               400
angry                 400
happy                 400
fear                  400
pleasant_surprised    400
neutral               400
sad                   400
Name: Emotion, dtype: int64

In [11]:
df.groupby(['Emotion']).mean()

                      Length
Emotion
angry               1.841377
disgust             2.448545
fear                1.658641
happy               1.972935
neutral             2.054510
pleasant_surprised  2.007777
sad                 2.402094

In [12]:
df.groupby(['Emotion']).min()

                                Filename    Length
Emotion
angry                 OAF_back_angry.wav  1.288031
disgust             OAF_back_disgust.wav  2.017654
fear                   OAF_back_fear.wav  1.254076
happy                 OAF_back_happy.wav  1.630990
neutral             OAF_back_neutral.wav  1.723806
pleasant_surprised       OAF_back_ps.wav  1.650037
sad                     OAF_back_sad.wav  1.942041

In [13]:
df.groupby(['Emotion']).max()

                                 Filename    Length
Emotion
angry                 YAF_youth_angry.wav  2.503400
disgust             YAF_youth_disgust.wav  2.855657
fear                   YAF_youth_fear.wav  2.061440
happy                 YAF_youth_happy.wav  2.308389
neutral             YAF_youth_neutral.wav  2.366388
pleasant_surprised       YAF_youth_ps.wav  2.456541
sad                     YAF_youth_sad.wav  2.984804

In [14]:
df.groupby(['Emotion']).sum()

                        Length
Emotion
angry               736.550954
disgust             979.417916
fear                663.456339
happy               789.173876
neutral             821.804006
pleasant_surprised  803.110920
sad                 960.837716