In [1]:
# 'DC', 'JE', 'JK' and 'KL' are four male speakers recorded for the SAVEE database


# --------------------------------------
# Audio data 
# --------------------------------------
# Audio files consist of audio WAV files sampled at 44.1 kHz

# There are 15 sentences for each of the 7 emotion categories.
# The initial letter(s) of the file name represents the emotion class, and the following digits represent the sentence number.
# The letters 'a', 'd', 'f', 'h', 'n', 'sa' and 'su' represent 'anger', 'disgust', 'fear', 'happiness', 'neutral', 'sadness' and 'surprise' emotion classes respectively. 
# E.g., 'd03.wav' is the 3rd disgust sentence.

In [2]:
import librosa
import librosa.display
import matplotlib.pyplot as plt
import numpy as np
from os import listdir
from os.path import isfile, join
import os
import scipy 
import pandas as pd
import shutil

In [3]:
def getEmotion(str):
    if str.startswith( 'a' ):
        return 'anger'
    elif str.startswith( 'd' ):
        return 'disgust'
    elif str.startswith( 'f' ):
        return 'fear'
    elif str.startswith( 'h' ):
        return 'happiness'
    elif str.startswith( 'n' ):
        return 'neutral'
    elif str.startswith( 'sa' ):
        return 'sadness'
    elif str.startswith( 'su' ):
        return 'surprise'
    else:
        return 'Unknown'

In [4]:
root = r"data/SAVEE/AudioData"

In [5]:
folders = listdir(root)
len(folders)

4

In [6]:
file_names = []
lenghts = []
for folder in folders:
    curr_dir = join(root,folder)
    files = listdir(curr_dir)
    for file in files:
        file_names.append(file)
        lenghts.append(librosa.get_duration(filename= join(root,folder,file)))

In [7]:
df = pd.DataFrame(file_names,columns=['Filename'])
df.head()

  Filename
0  a01.wav
1  a02.wav
2  a03.wav
3  a04.wav
4  a05.wav

In [8]:
df.shape

(480, 1)

In [9]:
df['Length'] = lenghts
df.head()

  Filename    Length
0  a01.wav  3.647800
1  a02.wav  3.438141
2  a03.wav  2.075488
3  a04.wav  2.725351
4  a05.wav  2.997914

In [10]:
df['Emotion'] = df['Filename'].apply(getEmotion)

df.Emotion.value_counts()

neutral      120
anger         60
sadness       60
happiness     60
disgust       60
surprise      60
fear          60
Name: Emotion, dtype: int64

In [11]:
df.groupby(['Emotion']).mean()

             Length
Emotion
anger      3.713913
disgust    3.954952
fear       3.747904
happiness  3.804780
neutral    3.605221
sadness    4.480661
surprise   3.803143

In [12]:
df.groupby(['Emotion']).min()

           Filename    Length
Emotion
anger       a01.wav  1.761020
disgust     d01.wav  1.849728
fear        f01.wav  1.810340
happiness   h01.wav  1.630907
neutral     n01.wav  1.652653
sadness    sa01.wav  1.766372
surprise   su01.wav  1.704807

In [13]:
df.groupby(['Emotion']).max()

           Filename    Length
Emotion
anger       a15.wav  7.024830
disgust     d15.wav  7.012585
fear        f15.wav  5.911950
happiness   h15.wav  5.974830
neutral     n30.wav  6.156599
sadness    sa15.wav  7.138730
surprise   su15.wav  6.289297

In [14]:
df.groupby(['Emotion']).sum()

               Length
Emotion
anger      222.834807
disgust    237.297098
fear       224.874218
happiness  228.286825
neutral    432.626463
sadness    268.839683
surprise   228.188594